  body {
    background-color: lightgray;
    font-family: "Roboto", Roboto;
  }
  
  h1 {
    color: black;
    margin-left: 20px;
  }

  .center {
    text-align: center;
    margin: auto;
    width: 50%;
  }