body{
    font-family: "Roboto", Roboto;
    background-color: #5CDB95;
    color: #576490;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(
        to right, 
        #F7DD72 0%, 
        #F7DD72 50%, 
        #5AB1BB 50%, 
        #5AB1BB 100%
      );
}
a {
    color: #576490;
    text-decoration: none;
}
a:hover, a:visited, a:link, a:active
{
    color: #576490;
    text-decoration: none;
}
.content {
    border-spacing: 0;
}
.centertext{
    text-align: center;
}
.up{
    text-transform: uppercase;
}
.toptext{
    font-size: 4.5vh;
}
.bold{
    font-weight: bold;
}
.vhc{
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40%;
	font-size: 4.5vh;
}
.panel{
    width: 30vh;
    height: 30vh;
    border-radius: 5%;
    text-align: center;
    background-color: #A5C882;
    transform:scale(0.90);
    transition: all ease-in 0.1s;
}
.panel:hover{
    transform:scale(0.95);
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.split {
    height: 15%;
    width: 50%;
    position: fixed;
    padding-top: 25px;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}