:root {
	--primary-color1: #F7DD72;
	--primary-color2: #5AB1BB;
	--secondary-color: #A5C882;
	--secondary-text-color: #576490;
}  

body{
	font-family: "Roboto", Roboto;
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: linear-gradient(
		to right, 
		var(--primary-color1) 0%, 
		var(--primary-color1) 50%, 
		var(--primary-color2) 50%, 
		var(--primary-color2) 100%
	);
}

header {
	margin-top: 1.5vh;
	font-size: 5vh;
	font-weight: bold;
}

header > table {
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
}

.t1 {
	color: var(--primary-color2);
	text-align: right;
	padding-right: 1vh;
}

.t2 {
	color: var(--primary-color1);
	text-align: left;
	padding-left: 1vh;
}

a {
	color: var(--secondary-text-color);
	text-decoration: none;
}

a:hover, a:visited, a:link, a:active
{
	color: var(--secondary-text-color);
	text-decoration: none;
}

.content {
	border-spacing: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7vh;
}

.panel{
	width: min(30vh, 40vw);
	height: min(30vh, 40vw);
	border-radius: 5%;
	background-color: var(--secondary-color);

	display: flex;
	align-items: center;
	justify-content: center;
	
	font-size: min(4.5vh, 6vw);
	text-align: center;
	font-weight: bold;
}

.hoverscale {
	transform:scale(0.90);
	transition: all ease-in 0.1s;
}

.hoverscale:hover{
	transform:scale(0.95);
}