body{
	font-family: "Roboto", Roboto;
	background-color: #5CDB95;
	color: #576490;
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: linear-gradient(
		to right, 
		#F7DD72 0%, 
		#F7DD72 50%, 
		#5AB1BB 50%, 
		#5AB1BB 100%
		);
}

a {
	color: #576490;
	text-decoration: none;
}

a:hover, a:visited, a:link, a:active
{
	color: #576490;
	text-decoration: none;
}

.content {
	border-spacing: 0;
	margin-left: auto;
	margin-right: auto;
}

.toptext{
	font-size: 4.5vh;
	font-weight: bold;
}

.panel{
	width: min(30vh, 40vw);
	height: min(30vh, 40vw);
	border-radius: 5%;
	background-color: #A5C882;

	display: flex;
	align-items: center;
	justify-content: center;
	
	font-size: min(2.25vh, 3vw);
	text-align: center;
}

.hoverscale {
	transform:scale(0.90);
	transition: all ease-in 0.1s;
}

.hoverscale:hover{
	transform:scale(0.95);
}

.split {
	height: 15%;
	width: 50%;
	position: fixed;
	padding-top: 1%;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
}